In [11]:
import mysql.connector
my_db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456"
)
print(my_db)

<mysql.connector.connection.MySQLConnection object at 0x0000027BAF0556D0>

In [14]:
# Creating a cursor object using the cursor() method
cursor = my_db.cursor()

# SQL statement to create a database
create_database_query = "CREATE DATABASE IF NOT EXISTS DB"
# Executing the SQL command
try:
    cursor.execute(create_database_query)
    print("Database 'DB' created successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Database 'DB' created successfully.

In [15]:
# Check if database exists
cursor.execute("SHOW DATABASES")

for x in cursor:
  print(x)

('db',)
('information_schema',)
('my_schema',)
('mysql',)
('new_schema',)
('new_schema1',)
('performance_schema',)
('sys',)
('test_schema',)

In [17]:
# Create table
import mysql.connector
my_db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456",
  database="DB"
)
cursor = my_db.cursor()
cursor.execute("CREATE TABLE MY_TABLE (name VARCHAR(255), age INT)")

In [18]:
# show tables
cursor.execute("SHOW TABLES")

for x in cursor:
  print(x)

('my_table',)

In [22]:
# Add values
query = "INSERT INTO my_table VALUES(%s, %s)"
values = [
  ('Peter', 1),
  ('Amy', 2),
  ('Hannah', 3),
  ('Michael', 4),
  ('Sandy', 5),
  ('Betty', 6),
  ('Richard', 7),
  ('Susan', 8),
  ('Vicky', 9),
  ('Ben', 10),
  ('William', 11),
  ('Chuck', 12),
  ('Viola', 13)
]
cursor.executemany(query, values)
my_db.commit()  # Don't forget to commit the changes
print("Values inserted successfully into my_table.")

Values inserted successfully into my_table.

In [33]:
# Run queries
import mysql.connector
my_db = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456",
  database="DB"
)
cursor = my_db.cursor()
cursor.execute("SELECT * FROM my_table")
myresult = cursor.fetchall()

for x in myresult:
  print(x)

('Samreen', 24)
('Samreen', 24)
('Peter', 1)
('Amy', 2)
('Hannah', 3)
('Michael', 4)
('Sandy', 5)
('Betty', 6)
('Richard', 7)
('Susan', 8)
('Vicky', 9)
('Ben', 10)
('William', 11)
('Chuck', 12)
('Viola', 13)

In [36]:
# Limit the results
cursor.execute("SELECT * FROM my_table LIMIT 5")

myresult = cursor.fetchall()

for x in myresult:
  print(x)

('Samreen', 24)
('Samreen', 24)
('Peter', 1)
('Amy', 2)
('Hannah', 3)